/.vscode
/a.exe
/armstrong.exe
/array.c
/array_input.c
/average_function.c
/average_function.exe
/basic_c++.exe
/break_cont.exe
/c programing
/call_by_refrence_var.exe
/cube_fun.exe
/deletion_array.c
/exponent.exe
/fabo.exe
/factorial.exe
/factorial_using_recursive.c
/floatarray.c
/funarray.c
/function.c
/function.exe
/function_product.exe
/gameguess.c
/gameguess.exe
/grater_4n.exe
/han.exe
/hehe.c
/hybrid.exe
/input_array.c
/lcm.exe
/lcmtwo.exe
/matrix_array.c
/matrix_multiple.c
/matrix_sum.c
/maxarray.c
/minarray.c
/multi_table.c
/numbers.exe
/percentege.exe
/prime.exe
/prime_or_not.exe
/prim_between.exe
/printbetween.exe
/print_2d.c
/reference.exe
/shift_position_array.c
/structure.c
/swap_function.exe
/swich.exe
/traversing_array.c
/try.exe
/updation_element.c
/week.exe